.checkout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #54a8e5;
    color: white;
    border-radius: 15px;
    border: none;
    margin-top: 3rem;
    font-size: 1.4em;
   
}