.cinema{
    display: flex;
    flex-direction: column;
    text-align: left;
    color: white;

    p{

    }

    select{
        color: #B2B5BB;
        border: 1px solid #B2B5BB;
        border-radius: 12px;
        margin: .5rem 0;
        padding: .8rem 1rem;

        option{
            color: white;
        }
    }
}